AIRFLOW_UID=50000
AIRFLOW__CORE__LOAD_EXAMPLES=False
AIRFLOW__WEBSERVER__SECRET_KEY=mysecret123
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CELERY__BROKER_URL=redis://:@redis:6379/0
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql://airflow:airflow@postgres/airflow
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres/airflow
AIRFLOW__WEBSERVER__FORCE_LOGIN=true
AIRFLOW__WEBSERVER__RBAC=true
_PIP_ADDITIONAL_REQUIREMENTS=pyspark==3.5.1 apache-airflow-providers-apache-spark
